<template>
  <div id="nav-bar">
    <img alt="Vue logo" class="nav-bar__logo" src="../assets/logo.png" />
    <router-link class="nav-bar__link" to="/">Home</router-link>
    <router-link class="nav-bar__link" to="/about/">About</router-link>
  </div>
</template>

<script lang="ts">
export default {};
</script>

<style lang="scss">
#nav-bar {
  display: flex;
  flex-flow: row nowrap;
  padding: 0 30px;
  align-items: center;
  width: 100%;
  background: white;
  height: 70px;
  box-shadow: 0px 2px 5px 0px rgba(204, 204, 204, 1);

  .nav-bar__logo {
    height: 70%;
    margin-right: 30px;
  }

  .nav-bar__link {
    text-decoration: none;
    color: white;
    height: 35px;
    line-height: 35px;
    padding: 0 10px;
    margin-right: 5px;
    color: skyblue;
    border-radius: 5px;
    font-weight: 600;

    &:hover,
    &.router-link-exact-active {
      color: dodgerblue;
    }
  }
}
</style>
