<template>
  <div class="transition-parent">
    <router-view class="child-view" v-slot="{ Component }">
      <transition :name="transitionName" mode="out-in">
        <component :is="Component" />
      </transition>
    </router-view>
  </div>
</template>

<script lang="ts">
import { RouteRecord, NavigationGuardNext } from "vue-router";
import { nextTick } from "vue";

export default {
  data(): Record<string, unknown> {
    return {
      transitionName: "slide-right",
    };
  },
  async beforeRouteUpdate(
    to: RouteRecord,
    from: RouteRecord,
    next: NavigationGuardNext
  ): Promise<void> {
    const toDepth = to.path.split("/").length;
    const fromDepth = from.path.split("/").length;

    console.log("paths", to.path, from.path);
    // @ts-ignore: move to composition api, cannot type `this` yet
    this.transitionName = toDepth < fromDepth ? "slide-right" : "slide-left";
    await nextTick();
    next();
  },
};
</script>

<style>
.child-view {
  width: 100%;
  transition: all 0.2s cubic-bezier(0.55, 0, 0.1, 1);
}

.slide-left-enter,
.slide-right-leave-active {
  opacity: 0;
  -webkit-transform: translate(30px, 0);
  transform: translate(30px, 0);
}

.slide-left-leave-active,
.slide-right-enter {
  opacity: 0;
  -webkit-transform: translate(-30px, 0);
  transform: translate(-30px, 0);
}
</style>
